{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
   <div class="container">
        <img style="margin-top: 3%" src="{{ asset('asset/Images/tous_les_festivals.jpg') }}" class="img-fluid" alt="Tous les Festivals">
    </div>
{% endblock %}
