{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
   <div class="container">
        <img style="margin-top: 3%" src="{{ asset('asset/Images/rastart_festival.jpg') }}" class="img-fluid" alt="Festival 2.0">
    </div>
{% endblock %}
