@font-face {
    font-family: "Century-Gothic";
    src: url("/public/fonts/Century-Gothic.ttf");
}

html {
    height: 100%;
}

body {
    position: relative;
    font-family: "Bitstream Vera Serif Bold", serif;
    background-image: url("Images/fond6.jpg");
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100%;
    margin: 0;
    display: table;
    padding-bottom: 15%;
}

footer {
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: table-row;
    height: 150px;
}

.carousel-inner img {
    margin: auto;
}
* {-moz-box-sizing: border-box; box-sizing: border-box;}
