<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rast'art - {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('asset/main.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/menu.scss') }}">
        <script src="{{ asset('asset/Js/menu.js') }}"></script>
    {% endblock %}
</head>
<body>
<header>
    {% include 'navbar.html.twig' %}
</header>
<main>

</main>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
