<footer class="my-5 pt-5 text-muted text-center text-small border-top">
    <div class="col-12 col-md">
        <img class="mb-2" src="{{ asset('asset/Images/logo_cra_black_long_transp.png') }}" alt="rastart_logo"
             width="69" height="17">
        <small class="d-block mb-3 text-muted">&copy; 2014-
            <script>document.write(new Date().getFullYear())</script>
        </small>
        <ul class="list-inline">
            <span>Contactez nous : contact@rastart.fr</span>
        </ul>
    </div>

</footer>