<!DOCTYPE html>
<html dir="ltr" lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title>Rast'Art le Festival</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/build/css/app.a9047626.css" rel="stylesheet" media="all">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "SELARL Annabelle GRAFFARD",
            "url": "https://www.huissier-annecy-graffard.fr",
            "logo": "https://www.huissier-annecy-graffard.fr/images/logo-huissier-annecy.png",
            "description": "Étude d'Huissier de Justice située à Annecy",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "1 rue du bulloz",
                "postalCode": "74940",
                "addressLocality": "ANNECY",
                "addressCountry": "FR"
            },
            "telephone": "+33458101535",
            "geo":{
                "@type": "GeoCoordinates",
                "latitude": 45.926458,
                "longitude": 6.167472
            },
            "openingHoursSpecification": [
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                        "Monday",
                        "Wednesday",
                        "Friday"
                    ],
                    "opens": "08:30",
                    "closes": "12:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                        "Tuesday"
                    ],
                    "opens": "14:30",
                    "closes": "18:00"
                }
            ]
        }
    </script>
</head>

<body class="stretched homepage" data-animation-in="fadeIn">
<div id="wrapper" class="clearfix">

    <header id="header" class="full-header">
        <div id="header-wrap">
            <div class="container clearfix norightpadding">
                <div id="primary-menu-trigger"><i class="fas fa-bars"></i></div>

                <div id="logo">
                    <a href="/" class="standard-logo">
                        <img src="/images/logo-huissier-annecy.png"
                             alt="Étude d'Huissier A. Graffard à Annecy (74)">
                    </a>
                    <a href="/" class="retina-logo">
                        <img src="/images/logo-huissier-annecy.png"
                             alt="Étude d'Huissier A. Graffard à Annecy (74)">
                    </a>
                </div>

                <nav id="primary-menu" class="dark">
                    <ul>
                        <li class="active">
                            <a href="/">
                                <div>Accueil</div>
                            </a>
                        </li>
                        <li>
                            <a href="/missions/">
                                <div>Missions</div>
                            </a>
                            <ul>
                                <li>
                                    <a href="/missions/constat">
                                        <div>Constats</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/missions/signification-actes">
                                        <div>Signification d'actes</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/missions/execution-decisions-justice">
                                        <div>Exécution des décisions de justice</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/missions/consultation-juridique">
                                        <div>Consultation juridique</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/missions/jeux-concours">
                                        <div>Jeux concours</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/missions/recouvrement-amiable">
                                        <div>Recouvrement amiable</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/competence-territoriale">
                                <div>Zone de compétence</div>
                            </a>
                        </li>
                        <li>
                            <a href="/services-en-ligne">
                                <div>Services en lignes</div>
                            </a>
                            <ul>
                                <li>
                                    <a href="/services-en-ligne/paiement">
                                        <div><i class="fas fa-credit-card noborder"></i> Paiement en ligne</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/services-en-ligne/demande-constat">
                                        <div><i class="fas fa-camera noborder"></i> Demande de constat</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/services-en-ligne/depot-acte">
                                        <div><i class="fas noborder fa-file-invoice"></i> Dépot d'acte</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/contactez-nous">
                                        <div><i class="fas noborder fa-envelope"></i> Formulaire de contact</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/contactez-nous">
                                <div>L'Étude</div>
                            </a>
                        </li>
                        <li class="inversed">
                            <a href="/services-en-ligne/paiement">
                                <div>Paiement en ligne</div>
                            </a>
                        </li>
                    </ul>                </nav>
            </div>
        </div>
    </header>


    <section id="slider" class="slider-element swiper_wrapper clearfix">
        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                                SELARL Annabelle GRAFFARD
                            </p>
                            <h1 data-caption-animate="fadeInUp">
                                Huissier de Justice à Annecy - Haute Savoie
                            </h1>
                        </div>
                    </div>
                    <div class="video-wrap">
                        <video poster="/images/video-splash.jpg" preload="auto" loop playsinline autoplay muted>
                            <source src='/videos/annecy.mp4' type='video/mp4'/>
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                        <div class="fbox-icon">
                            <a href="/services-en-ligne/paiement"><i class="fas fa-credit-card noborder"></i></a>
                        </div>
                        <h3>Paiement en ligne
                            <span class="subtitle">
                                Effectuez un paiement concernant votre dossier
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                        <div class="fbox-icon">
                            <a href="/services-en-ligne/demande-constat"><i class="fas fa-camera noborder"></i></a>
                        </div>
                        <h3>
                            Demande de constat
                            <span class="subtitle">
                                Transmettez une demande de constat à notre Étude via notre formulaire
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                        <div class="fbox-icon">
                            <a href="/services-en-ligne/depot-acte"><i class="fas noborder fa-file-invoice"></i></a>
                        </div>
                        <h3>
                            Dépôt d'acte
                            <span class="subtitle">
                                Déposez vos actes à signifier directement sur notre site internet
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="col_one_fourth nobottommargin col_last">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                        <div class="fbox-icon">
                            <a href="/contactez-nous"><i class="far fa-envelope noborder "></i></a>
                        </div>
                        <h3>
                            Contactez-nous
                            <span class="subtitle">
                                Pour tout autre demande, n'hésitez pas à contacter l'Étude
                            </span>
                        </h3>
                    </div>
                </div>


                <div class="clear"></div>
                <div class="line bottommargin-lg"></div>


                <div class="col_two_fifth nobottommargin text-sm-center">
                    <img src="https://www.huissier-annecy-graffard.fr/images/cache/home/images/bg-404.jpg"
                         alt="Annabelle GRAFFARD, Huissier de Justice à Annecy">
                </div>
                <div class="col_three_fifth nobottommargin col_last">
                    <div class="heading-block">
                        <h2>L'Étude Annabelle Graffard, Huissier de Justice à Annecy (74)</h2>
                    </div>

                    <p>
                        Située dans le Parc d’Activités Économiques des Glaisins, l’Étude Annabelle GRAFFARD
                        est ouverte les lundi, mercredi et vendredi matin de 8h30 à 12h et le mardi après-midi de 14h30
                        à 18h.
                        L’accueil sur rendez-vous est possible pendant et en dehors de ces plages horaires.
                    </p>

                    <p>
                        Un accueil téléphonique est assuré du lundi au vendredi de 9h à 12h et de 14h à 17h30 (sauf le
                        vendredi 16h30).
                    </p>

                    <p>
                        L’Étude intervient dans le ressort géographique de la
                        <strong>Cour d’Appel de CHAMBÉRY, soit en Haute-Savoie (74) et en Savoie (73)</strong>.
                    </p>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>

    <footer id="footer" class="dark">
        <div id="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <address>
                            <strong>SELARL A. GRAFFARD</strong><br/>
                            1 rue du Bulloz<br/>
                            PAE des Glaisins<br />
                            Annecy-le-Vieux<br />
                            74940 ANNECY<br/>
                        </address>

                        <div class="copyright-links">
                            <a href="/mentions-legales">Mentions légales</a>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-4 col-sm-6 col-6 text-right text-md-left">

                        <h4><i class="fa fa-clock"></i> Accueil téléphonique</h4>

                        <dl class="nobottommargin">
                            <dt>Du lundi au jeudi</dt>
                            <dd>9H à 12H <br /> 14H à 17H30</dd>
                            <dt>Vendredi
                            <dd>9H à 12H <br /> 14H à 16H30</dd>
                        </dl>
                    </div>

                    <div class="col-lg-3 col-md-5 col-sm-12 col-12 text-md-right text-center footerLast">
                        <i class="fas fa-phone"></i> &nbsp;<a href="tel:0033458101535">04 58 10 15 35</a> / <a href="tel:033676936299">06 76 93 62 99</a><br/>
                        <i class="fas fa-fax"></i> &nbsp;<a href="tel:0033458101529">04 58 10 15 29</a><br/>
                        <i class="fas fa-envelope"></i> &nbsp;<a href="mailto:etude.graffard@huissiers-annecy.fr">etude.graffard@huissiers-annecy.fr</a>
                        <br />
                        <br />
                        <div class="copyright-links clearfix">
                            Conception
                            <a href="https://www.alpixel.fr" target="_blank" rel="nofollow">agence web ALPIXEL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="/build/js/app.078b969a.js"></script>
</body>
</html>
